@import '../Utils/_variables.scss';
@import '../base/_fondation.scss';
@import '../Utils/_mixin.scss';
// entête

.nav{
    height: 100px;
    width: 100%;
    padding: 20px;
    @include Flex-espace;
    margin: auto;
    @include Box-shadow ;
    &__home {
        text-decoration: none;
        display: flex;
        font-size: 1em;
        text-transform: uppercase;
        color:$color-secondary;   
        font-weight: bold; 
        width: 90px;
        height: 25px;
        justify-content: center;
        margin-left: 20px;
        transition: transform 200ms;
        &:hover{
            @include hover-a;
            transform: scale(1.2)
        }

    }
    &__cv{
        @include Block-a;
        width: 270px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-primary;
        transition: transform 200ms;

        &:hover{
            @include hover-a;
            transform: scale(1.2)

        }


    }
}

.about{
    height: 450px;
    width: 80%;
    margin: auto;
    &__introduction{
        height: 100%;
        width: 100%;
        padding: 30px;
        @include Flex-espace;
        &__text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;


            h1{
                margin: 0px auto 20px;
                color: $color-secondary;
                text-transform: uppercase;
            }
            p{
                text-align: center;
                margin-top: 20px;
            }
            
        }
        &__pic{
            width: 350px;
            height: 340px;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

    }


}
.aboutExp{
    width: 80%;
    height: 450px;
    margin: auto;
    &__experience{
        height: 100%;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        &__text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
          
           }
        &__pic{
            width: 350px;
            height: 340px;
            border-radius: 50%;
            overflow: hidden;
           margin-top: 30px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }
    }   
            h1{
                margin-bottom:20px;
                color: $color-secondary;
                text-transform: uppercase;
            }

        
    
    
}
.aboutCpt{
    height: 450px;
    width: 80%;
    margin:80px auto 0;
    &__competence{
        height: 100%;
        width: 100%;
        @include Flex-espace;

        &__text{
            width: 50%;
            height: 100%;

                
            h1{
                margin: 0px auto 10px;
                color: $color-secondary;
                text-transform: uppercase;
            }

            li{
                height: 60px;
            }
        }
        &__pic{
            width: 350px;
            height: 340px;
            border-radius: 50%;
            overflow: hidden;
           margin: -60px auto 0;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }
    }
}
.aboutTng{
    height: 560px;
    width: 80%;
    margin: auto;
    &__training{
        height: 100%;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        &__text{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            
             h1{
                    margin-bottom:20px;
                    color: $color-secondary;
                    text-transform: uppercase;
             }
             h3 {
                color: $color-secondary;
                text-transform: uppercase;
             }
             h4 {
                color: goldenrod;
                text-transform: uppercase;
             }
        
        }
        &__pic{
            width: 350px;
            height: 340px;
            border-radius: 50%;
            overflow: hidden;
           
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

      
    }
}
.aboutL{
    width: 80%;
    height: 500px;
    margin: auto;
    &__langage{
        height: 100%;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
          

            &__evaluation{
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                &__bar{
                    height: 5px;
                    width: 80%;
                    background-color: rgb(231, 224, 224);

                    .succes{
                        width: 80%;
                        height: 100%;
                        background-color: green;
                        &--widthA{
                            width: 60%;
                        }
                        &--widthP{
                            width: 95%;
                        }
                    }
                }
               

            }

            h1{
                width: 100%;
                margin-bottom:20px;
                color: $color-secondary;
                text-transform: uppercase;
            }
            h3{
            margin-bottom:20px;
            color: $color-secondary;
            text-transform: uppercase;
            }


        }
        &__pic{
            width: 350px;
            height: 340px;
            border-radius: 50%;
            overflow: hidden;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }
    }
}
.aboutH{
    margin-top: 80px;
    width: 80%;
    height: 300px;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    h1 {
        width: 100%;
        margin-bottom:20px;
        color: $color-secondary;
        text-transform: uppercase;
    }
    &__hobbies{
        width: 150px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__circle{
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }
       
    

    }
}

.ancre{
     height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 1px $color-primary ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    text-transform: uppercase;
    color: #202124;
    position: fixed;
    top: 680px;
    right: 10px;
    &:hover{
        @include hover-a
    }
}



.footer{
    background-color:#f7cb63b0;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    &__description{
       width: 100%;
       height: 100%;
       display: flex;
       &__text{
          width: 33%;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
        
          a{
             text-decoration: none;
             display: flex;
             font-size: 0.8em;
             text-transform: none;
             color: #202124;
          }
          &__icon{
             display: flex;
             gap: 20px;
             a{
                font-size: 1.5em;
             }
          }
          p{
             font-size: 0.7em;
          }
 
       }
    }

 
 }
 @media screen and (min-width: 768px) and (max-width: 1024px){
    .nav{
        flex-wrap: wrap;
        gap: 5px
    }
    .nav__cv{
        font-size: 0.7em;
    }

    .about{
        width: 100%;
        h1{
            font-size: 1.2em;
        }
        p{
            height: 300px;
            font-size: 0.9em;
            overflow: hidden;
        }
    }
    .about__introduction__pic {
        margin-top: 40px;
        width: 300px;
        height: 300px;
 }
 .aboutExp {
    width: 100%;
    ul{
        font-size: 0.9em;
    }
}
.aboutExp__experience{
    justify-content: center;
    gap: 50px;
}
.aboutExp__experience__text {
    width: 40%;
    overflow: hidden;

    h1{
        font-size: 1.2em;
    }
}
.aboutExp__experience__pic {
    width: 300px;
    height: 300px;
}
.aboutCpt{
    width: 88%;
    ul{
        font-size: 0.9em;
    }

    h1{
        font-size: 1.2em;
    }
}
.aboutCpt__competence__pic {
    width: 300px;
    height: 300px;
}
.aboutTng {
    width: 100%;
    margin-top: -30px;
    h1{
        font-size: 1.2em;
    }

    h3{
        font-size: 1em;
    }
    h4,p{
        font-size: 0.9em;
    }
}
.aboutTng__training{
    justify-content: center;
    gap: 50px;
}
.aboutTng__training__pic {
    width: 300px;
    height: 300px;
}

.aboutL{
    width: 100%;
    h1{
        font-size: 1.2em;
    }
    h3{
        font-size: 1em;
    }

}
}
@media screen and (max-width: 767px){
    body { 
        img{
        display: none;
    }
    h1{
        font-size: 1em;
    }
    p, ul{
        font-size: 0.8em;
    }
       
   
  

    }
    .nav{
        flex-wrap: wrap;
        gap: 5px;
        &__home{
            font-size: 0.8em;
            width: 53px;
            margin-left:0px;
        }
        &__cv{
            font-size:0.7em;
            width: 200px;
            height: 25px;
        }

    }
    .about {
        height: 30%;
        width: 95%;
        margin: auto;
    }

    .about__introduction__text {
        width: 100%;
        height: 100%;
        align-items: flex-start;
        h1{
            margin: 0px;
        }
        p{
            text-align: left;
            height: 80%;
        }
    }

    .about__introduction__pic {
        width: 0px;
    }

    .aboutExp {
        margin-top: -12%;
        width: 95%;
        height: 30%;
    }
    .aboutExp__experience__text{

        width: 100%;
        li{
            margin: 15px;
        }
    }
    .aboutExp__experience__pic{
        width: 0px;
        height: 0px;
    }
  

    h3{
        font-size: 0.8em;
    }

    h4{
       font-size: 0.8em;
    }
    .aboutCpt {
        height: 30%;
        width: 95%;
        margin: auto;
        &__competence{
            flex-direction: column;
            &__text{
                width: 100%;
                padding: 30px;
                ul{

                    height: 80%;
                }

                li{
                    height: 40%;
                   margin: 15px;
                }
               
            }
            &__pic{
                width: 0px;
                height: 0px;
            }
        }
    }
    .aboutTng {
        width: 95%;
        height: 30%;
        margin-top: 7%;
        &__training{
            flex-direction: column;
            &__text{
                width: 100%;
            }
            &__pic{
                width: 0px;
                height: 0px;
            }
        }

    }
    .aboutL{
        width: 95%;
        &__langage{
            flex-direction: column;
            &__text{
                width: 100%;
            }
            &__pic{
                width: 0px;
                height: 0px;
            }
        }
    }
    .footer{
        height: 550px;
        margin-top: 60px;
        &__description{
           flex-direction: column;
           &__text{
              width: 100%;
              height: 30%;
           }
        }
     }

}

 
