* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  color: #202124;
}

.nav {
  height: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  box-shadow: 5px 1px 10px rgb(237, 232, 232);
  background-color: white;
}
.nav__home {
  text-decoration: none;
  display: flex;
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(235, 170, 35);
  font-weight: bold;
  width: 90px;
  height: 25px;
  justify-content: center;
  margin-left: 20px;
  transition: transform 200ms;
}
.nav__home:hover {
  text-decoration: underline;
  color: rgb(235, 170, 35);
  transform: scale(1.2);
}
.nav__cv {
  width: 320px;
  height: 35px;
  text-decoration: none;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(7deg, rgb(195, 120, 34) 0%, rgb(222, 199, 97) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 500ms ease-in-out;
  border-radius: 5px;
}
.nav__cv:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

body {
  background-color: #F7F7F7;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: auto;
  padding: 20px;
  border-radius: 0px 0px 15px 0px;
  border-right: 3px solid rgb(235, 170, 35);
  border-bottom: 3px solid rgb(235, 170, 35);
  margin: 50px auto;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
main h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(235, 170, 35);
  margin-bottom: 50px;
}
main a {
  color: rgb(235, 170, 35);
  text-decoration: none;
}
main a:hover {
  text-decoration: underline;
}
main .end {
  text-align: right;
  margin-top: 30px;
  margin-right: 10px;
}

.footer {
  background-color: #202124;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: white;
}
.footer__description {
  width: 100%;
  height: 100%;
  display: flex;
}
.footer__description__text {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__description__text h3, .footer__description__text h5, .footer__description__text p {
  color: white;
}
.footer__description__text a {
  text-decoration: none;
  display: flex;
  font-size: 0.8em;
  text-transform: none;
  color: white;
}
.footer__description__text__icon {
  display: flex;
  gap: 20px;
}
.footer__description__text__icon a {
  font-size: 1.5em;
}
.footer__description__text p {
  font-size: 0.7em;
}

.ancre {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-transform: uppercase;
  color: rgb(235, 170, 35);
  position: fixed;
  top: 680px;
  right: 10px;
}
.ancre:hover {
  text-decoration: underline;
  color: rgb(235, 170, 35);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav {
    flex-wrap: wrap;
    gap: 5px;
  }
  .nav__cv {
    font-size: 0.7em;
  }
  main {
    width: 90%;
  }
  .about {
    width: 100%;
  }
  .about h1 {
    font-size: 1.2em;
  }
  .about p {
    height: 300px;
    font-size: 0.9em;
    overflow: hidden;
  }
  .about__introduction__pic {
    margin-top: 40px;
    width: 300px;
    height: 300px;
  }
  .aboutExp {
    width: 100%;
  }
  .aboutExp ul {
    font-size: 0.9em;
  }
  .aboutExp__experience {
    justify-content: center;
    gap: 50px;
  }
  .aboutExp__experience__text {
    width: 40%;
    overflow: hidden;
  }
  .aboutExp__experience__text h1 {
    font-size: 1.2em;
  }
  .aboutExp__experience__pic {
    width: 300px;
    height: 300px;
  }
  .aboutCpt {
    width: 88%;
  }
  .aboutCpt ul {
    font-size: 0.9em;
  }
  .aboutCpt h1 {
    font-size: 1.2em;
  }
  .aboutCpt__competence__pic {
    width: 300px;
    height: 300px;
  }
  .aboutTng {
    width: 100%;
    margin-top: -30px;
  }
  .aboutTng h1 {
    font-size: 1.2em;
  }
  .aboutTng h3 {
    font-size: 1em;
  }
  .aboutTng h4, .aboutTng p {
    font-size: 0.9em;
  }
  .aboutTng__training {
    justify-content: center;
    gap: 50px;
  }
  .aboutTng__training__pic {
    width: 300px;
    height: 300px;
  }
  .aboutL {
    width: 100%;
  }
  .aboutL h1 {
    font-size: 1.2em;
  }
  .aboutL h3 {
    font-size: 1em;
  }
}
@media screen and (max-width: 767px) {
  body img {
    display: none;
  }
  body h1 {
    font-size: 1em;
  }
  body p, body ul {
    font-size: 0.8em;
  }
  body main {
    width: 90%;
  }
  .nav {
    flex-wrap: wrap;
    gap: 5px;
  }
  .nav__home {
    font-size: 0.8em;
    width: 53px;
    margin-left: 0px;
  }
  .nav__cv {
    font-size: 0.7em;
    width: 200px;
    height: 25px;
  }
  .about {
    height: 30%;
    width: 95%;
    margin: auto;
  }
  .about__introduction__text {
    width: 100%;
    height: 100%;
    align-items: flex-start;
  }
  .about__introduction__text h1 {
    margin: 0px;
  }
  .about__introduction__text p {
    text-align: left;
    height: 80%;
  }
  .about__introduction__pic {
    width: 0px;
  }
  .aboutExp {
    margin-top: -12%;
    width: 95%;
    height: 30%;
  }
  .aboutExp__experience__text {
    width: 100%;
  }
  .aboutExp__experience__text li {
    margin: 15px;
  }
  .aboutExp__experience__pic {
    width: 0px;
    height: 0px;
  }
  h3 {
    font-size: 0.8em;
  }
  h4 {
    font-size: 0.8em;
  }
  .aboutCpt {
    height: 30%;
    width: 95%;
    margin: auto;
  }
  .aboutCpt__competence {
    flex-direction: column;
  }
  .aboutCpt__competence__text {
    width: 100%;
    padding: 30px;
  }
  .aboutCpt__competence__text ul {
    height: 80%;
  }
  .aboutCpt__competence__text li {
    height: 40%;
    margin: 15px;
  }
  .aboutCpt__competence__pic {
    width: 0px;
    height: 0px;
  }
  .aboutTng {
    width: 95%;
    height: 30%;
    margin-top: 7%;
  }
  .aboutTng__training {
    flex-direction: column;
  }
  .aboutTng__training__text {
    width: 100%;
  }
  .aboutTng__training__pic {
    width: 0px;
    height: 0px;
  }
  .aboutL {
    width: 95%;
  }
  .aboutL__langage {
    flex-direction: column;
  }
  .aboutL__langage__text {
    width: 100%;
  }
  .aboutL__langage__pic {
    width: 0px;
    height: 0px;
  }
  .footer {
    height: 550px;
    margin-top: 60px;
  }
  .footer__description {
    flex-direction: column;
  }
  .footer__description__text {
    width: 100%;
    height: 30%;
  }
}/*# sourceMappingURL=apropos.css.map */